.section{
    width: 100%;
    background-color: var(--white);
    color: var(--white);
}
section{
    background-color: #6141e2;
    color: var(--white);
    width: 100%;
    padding: 100px 0;
}
section h1{
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
}
.noColor{
    background-color: var(--white);
    color: black;
}
li{
    text-align: left;
    font-weight: 600;
    margin-bottom: .5rem;
    display: inline-block;
}
textarea, input{
    font-weight: normal;
    font-style: normal;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    box-shadow: inherit;
    overflow: visible;
}
textarea:hover, input:hover{
    border: 2px solid #a733bb;
}
h3{
    margin-bottom: .5rem;
    font-size: 1.5em;
    font-weight: 500;
    color: inherit;
    font-style: normal;
    line-height: 36px;
}
h3.marginDiv{
    margin-bottom: 1.5rem;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.container div{
    margin-bottom: .5rem;
}
.containerDivs{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.marginDiv{
    padding-right: 15px;
    padding-left: 15px;
}
.row{
    display: flex;
}
.rowLeft{
    flex-direction: column;
    align-items: start;
}
.buttonMessage{
    background: linear-gradient(to right, #7d4ac7 0%, #a733bb 100%);
    color: var(--white);
    padding: 10px 35px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 1px;
}
.buttonMessage:hover{
    background: linear-gradient(to left, #7d4ac7 0%, #a733bb 100%);
}
.color{
    background: linear-gradient(to right, #7d4ac7 0%, #a733bb 100%);
    color: var(--white);
    padding: 10px 35px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    line-height: 2em;
}
.color li, ul {
    margin-bottom: 20px;
}
h2.marginDiv{
    margin: 1em 0;
}

@media only screen and (max-width: 1024px) {
    
}
@media only screen and (max-width: 768px) {
    .row{
        flex-direction: column;
    }
    .containerDivs{
        max-width: none;
    }
}
@media only screen and (max-width: 500px) {
    .row{
        flex-direction: column;
    }
    .containerDivs{
        max-width: none;
    }
}