@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
:root {
  --blue: #007bff;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-light: #ced4da;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #e9ecef;
  --dark: #343a40;
  --black: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: #6141e2;
  color: var(--white);
  font-size: x-large;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

img {
  margin: 0px;
  padding: 0px;
  border: 0 none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

input,
textarea {
  outline: none;
  resize: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@media only screen and (max-width: 1024px) {
  html,body {
      font-size: large;
  }
}
@media only screen and (max-width: 768px) {
  html,body {
    font-size: normal;
  }
}
@media only screen and (max-width: 500px) {
  html,body {
    font-size: normal;
  }
}