.section {
    width: 100%;
    padding: 10em 5%;
    color: white;
}
img{
    width: 110%;
    height: auto;
}
.section ul li{
    min-width: 40%;
}
body .section{
    background: linear-gradient(#6141e2, #b6a9f0);
}

h2 {
    font-size: 36px;
    font-style: normal;
    line-height: 50px;
}
.title span {
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    font-weight: 800;
    color: #640178;
}
.circleDiv {
    flex: 0 0 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 60px 15px;
    text-align: left;
    background-color: white;
}
.holderCircle {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}
.round {
    position: absolute;
    left: 40px;
    top: 45px;
    width: 410px;
    height: 410px;
    border: 2px dotted #a733bb;
    border-radius: 100%;
    animation: spin 100s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.title-box p {
    font-size: 17px;
    line-height: 2em;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.dotCircle .itemDot {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    background: #ffffff;
    color: #7d4ac7;
    border-radius: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    z-index: 3;
    cursor: pointer;
    border: 2px solid #e6e6e6;
}
.dotCircle .itemDot .forActive {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.dotCircle .itemDot .forActive::after {
    content: "";
    width: 5px;
    height: 5px;
    border: 3px solid #7d4ac7;
    bottom: -31px;
    left: -14px;
    filter: blur(1px);
    position: absolute;
    border-radius: 100%;
}
.dotCircle .itemDot .forActive::before {
    content: "";
    width: 6px;
    height: 6px;
    filter: blur(5px);
    top: -15px;
    position: absolute;
    transform: rotate(-45deg);
    border: 6px solid #a733bb;
    right: -39px;
}
.dotCircle .itemDot.active .forActive {
    display: block;
}
.dotCircle .itemDot:hover,
.dotCircle .itemDot.active {
    color: #ffffff;
    transition: 0.5s; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */
    background: #7d4ac7; /* Old browsers */
    background: -moz-linear-gradient(
        left,
        #7d4ac7 0%,
        #a733bb 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        #7d4ac7 0%,
        #a733bb 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #7d4ac7 0%,
        #a733bb 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d4ac7', endColorstr='#a733bb', GradientType=1); /* IE6-9 */
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13);
}

.contentCircle {
    width: 250px;
    border-radius: 100%;
    color: #222222;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contentCircle .cirItem {
    border-radius: 100%;
    color: #222222;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    font-size: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin: auto;
}
.cirItem.active {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}
.contentCircle .cirItem i {
    font-size: 180px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -90px;
    color: #000000;
    opacity: 0.1;
}

.dotCircle {
    transform: rotate(324deg);
    transition: all 2s ease 0s;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: 20;
}
.itemDot1 {
    left: 412px;
    top: 212px;
    transform: rotate(36deg);
    transition: all 1s ease 0s;
}
.itemDot2 {
    left: 312px;
    top: 385px;
    transform: rotate(36deg);
    transition: all 1s ease 0s;
}
.itemDot3 {
    left: 112px;
    top: 385px;
    transform: rotate(36deg);
    transition: all 1s ease 0s;
}
.itemDot4 {
    left: 12px;
    top: 212px;
    transform: rotate(36deg);
    transition: all 1s ease 0s;
}
.itemDot5 {
    left: 112px;
    top: 39px;
    transform: rotate(36deg);
    transition: all 1s ease 0s;
}
.itemDot6 {
    left: 312px;
    top: 39px;
    transform: rotate(36deg);
    transition: all 1s ease 0s;
}

@media only screen and (max-width: 1024px) {
    
}
@media only screen and (max-width: 768px) {
    h2{
        font-size: 26px;
    }
    .section ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .ulBody{
        margin-top: 2em;
    }
    .section{
        padding: 7em 5%;
    }
    img{
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 500px) {
    h2{
        font-size: 26px;
    }
    .section ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ulBody{
        margin-top: 5em;
    }
    .section{
        padding: 5em 5%;
    }
    img{
        width: 100%;
        height: auto;
    }
}